<%# form_ for is a rails_helper that expects to be given an ActiveRecord object as a first argument. if the object is not persisted it will automatically set the action for the form to the associated controller create action. In this case it will make the action go to 'questions_path' and it will automatically set the method to "POST" if @question has any attributes set it will populate the corresponding field with that data  %>


<%= simple_form_for @question do |f| %>
    <%= f.input :title, {placeholder: "Question Title"}  %>
    <%= f.input :body, {rows: 10, cols: 100, placeholder: "Enter the full question text here"}  %>
    <%= f.association :tags, as: :check_boxes %>
    <%= f.association :category %>
  <div class="form-group">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>

</div>
