<div class="question-container">
    <h1><%= @question.title.titleize %></h1>

    <p>
        <%= @question.body %>
    </p>


    <p>Views: <%= @question.view_count %></p>
    <p>
      Tags: <%= @question.tags.map {|t| t.title}.join(", ") %>
    </p>
    <p>Created by: <%= @question.user.full_name if @question.user %>
    <div class="links">
      <% if @question.liked_by?(current_user) %>
        <%= link_to fa_icon("thumbs-down"), question_like_path(@question, @question.like_for(current_user)), method: :delete, class: "like-icon"%>
      <% else %>
        <%= link_to fa_icon("thumbs-up"), question_likes_path(@question), method: :post, class: "like-icon"%>
      <% end %>
      <% if can? :manage, @question %>
        |
        <%= link_to "Edit", edit_question_path(@question) %>
        |
        <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
  </div>
<br>

  <!-- VOTES LINK LOGIC -->

<%= render "/questions/vote", question: @question %>


</div>

<h3>Create Answer</h3>
<div id="answer-form">
  <%= render "/answers/form" %>
</div>

<h2>Answers</h2>
<div id="answers">
<% @question.new_first_answers.each do |ans| %>
  <%= render "/answers/answer", answer: ans %>
<% end %>
</div>

