<h1>Create a new account</h1>
<%= @user.errors.full_messages.join(", ") %>
<%= form_for @user do |f| %>
    <div class="input-container">
        <%= f.text_field :first_name, placeholder: "first name" %>
    </div>
    <div class="input-container">
        <%= f.text_field :last_name, placeholder: "last name" %>
    </div>
    <div class="input-container">
        <%= f.email_field :email, placeholder: "email address" %>
    </div>
    <div class="input-container">
        <%= f.password_field :password, placeholder: "password" %>
    </div>
    <div class="input-container">
        <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
    </div>
<%= f.submit %>
<% end %>

