<p>
  Hello, <%= @owner.full_name %>
</p>
<p>
  Hello wife, I told you I could spam. I have become drunk on the power. BUAHAHAHAHABHAAHAHAHA
  <%= Faker::ChuckNorris.fact %>
  You got an answer to a question:
<br>
Question title: <%= @question.title %>
<br>
Answer: <%= @answer.body %>
<br>
Visit your question by clicking
<%= link_to "here", question_url(@question) %>
<br>
</p>
<p>
  ps. don't mess with Chuck Norris, dudes too OP.
</p>

<p style='margin-left: 15px;'>
  Regards,
  <br>
  Awesome Answers Team
</p>